<!--/ footer Star /-->
  <section class="section-footer pt-3 pd-3" style="width:100%;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a align-items-center text-center">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Deamante Properties</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Deamante Properties is an exclusive customer
                driven property development firm that has been 
                established by <strong>Architect Zaid Sait.</strong>
              </p>
            </div>
            
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3 align-items-center text-center">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">The Company</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="{% url 'contact' %}">Site Map</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3 align-items-center text-center">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Contact</h3>
            </div>
            <div class="w-body-a">
          
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Phone : </span>+91 9739844445</li>
                <li class="color-a">
                  <span class="color-text-a">Email : </span>deamanteprop@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer style="width:100%;margin:0;">
    <div class="container pt-2 pd-2 mt-0 md-0">
      <div class="row">
        <div class="col-md-12 col-lg-12 ">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'about' %}">About</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'all' %}">Properties</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-youtube" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a"> DeamanteProperties-</span><span class="year"></span><br> All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>