{% extends "base.html" %}
{% load static %}
{% block title %}
| Welcome
{% endblock title %}
{% block content %}

  <div class="intro intro-carousel mb-5">
    <div id="carousel" class="owl-carousel owl-theme">
      
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/Caro/sl-1.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Bangalore, Karnataka
                      <br> 560008</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">#</span>FURQAN WOODS
                      <br>Indira Nagar</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">STATUS | Available</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/Caro/sl-2.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Bangalore, Karnataka
                      <br> 560005</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">#</span>IRISH HOUSE
                      <br>FRAZER TOWN</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">STATUS | Available</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/Caro/sl-3.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Bangalore, Karnataka
                      <br> 560084</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">#</span>STARLING
                      <br>HUTCHINS ROAD</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">STATUS | Available</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/Caro/sl-4.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Bangalore, Karnataka
                      <br> 560084</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">#</span>SOLITAIRE
                      <br>HUTCHINS ROAD</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">STATUS | Available</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/Caro/sl-5.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Bangalore, Karnataka
                      <br> 560084</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">#</span>STARLING
                      <br>HUTCHINS ROAD</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">STATUS | Available</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/Caro/sl-6.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Bangalore, Karnataka
                      <br> 560008</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">#</span>URBAIN SEJOUR
                      <br>INDIRA NAGAR</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">STATUS | Available</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

{% include 'partials/_alerts.html' %}
  <!--/ News Star /-->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Latest News</h2>
            </div>
            <div class="title-link">
              <a href="blog-grid.html">All News
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
 {% if news %}     
      <div id="new-carousel" class="owl-carousel owl-theme">
        {% for news  in news  %}
        <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{{news.img_disp.url}}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="#" class="category-b">{{news.Heading}}</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="blog-single.html">{{news.Headlines}}
                      </a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">{{news.list_date}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  

{% else %}
    <p> No Latest News Published</p>
{% endif %}
  </section>
  <!--/ News End /-->

{% endblock content %}
